html {
  font-size: 12px;
  background-color: #a9a9a9;
}

body {
  width: 70%;
  margin: 0 auto;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

header {
  margin-bottom: 10px;
}

#bild {
  float: right;
}

main, header, nav, article, aside, footer, section {
  background-color: rgba(0,255,0,0.5);
  padding: 1%;
}

header img {
  display: block;
  height: 60px;
  padding-top: 20.15px;
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a, nav span {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

h1, h2, h3 {
  font-family: 'Cinzel Decorative', cursive;
  color: #2a2a2a;
}

h1 {
  font-size: 4.3rem;
  text-shadow: 2px 2px 10px black;
  margin-left: 30%;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

main {
  display: flex;
}

article {
    width: 200%
}

aside {
  margin-left: 10px;
}

aside a {
  display: block;
  float: left;
  width: 50%;
}

aside img {
  max-width: 100%;

}

footer {
  margin-top: 10px;
    text-align: center;
}
